*{
    background-color: rgb(27, 27, 106);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#firstDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 40px;
}

#weatherAppDiv{
    display: flex;
    justify-content: flex-start;
    width:700px;
    height: 500px;
    align-items: start;
    position: relative;
    margin-bottom: 100px;
}

#WeatherBox1{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    height: 300px;
    width: 440px;
    background-color: white;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 30px;  
    border : 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333;
}
.forcastWeatherBox{
    display: flex;
    align-items: start;
    margin-top: 30px;
    width: 200px;
    height: 300px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 20px;
}

.weatherBoxChild{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: whitesmoke;
}
.weatherPicBox1{
    width: 120px;
    height: 120px;
    background-color: rgba(0, 123, 255, 0.2);
    border-radius: 20px;
    margin: 0px;
}
.cityName{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 0px;
}
.cityName , .weatherpic , .weatherPicBox1{
    background-color: white
}

.weatherDivsquare{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
}
.weatherBox2{
    display: flex;
    position: absolute;
    gap: 40px;
    top: 360px;
    left: 20px;
    background-color: inherit;
    justify-content: center;
}
.cityInfo , .weatherTempText{
    font-weight: bold;
}
.cityInfo , .conditionText{
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    background-color: inherit;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.conditionText{
    font-size: 23px !important;
    background-color: inherit;
    margin-top: 10px;
}
#weatherConditionText{
    background-color: inherit;
}
.squareBox{
    background-color: inherit;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
.weatherTempText{
    margin: 0px;
    font-size: 30px;
    background-color: white;
}
#weatherTempDiv{
    background-color: inherit;
}
.squareDivIcon{
    display: flex;
    background-color: inherit;
    width: 100px;
    height: 100px;
}
.squareDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
p{
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
}
.squareDivText{
    background-color: white;
}