* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mainDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    margin-top: 60px;
}

#searchDiv {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: -1px -1px 15px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px -1px 15px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px -1px 15px 10px rgba(0, 0, 0, 0.2);
    width: 280px;
    height: 450px;
    border-radius: 15px;
}

#searchResultDiv {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    display: flex;
    flex-grow: 1;
    border-radius: 15px;
}

#inputDiv0 {
    display: flex;
    flex-direction: row;
    background-color: inherit;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#inputDiv1 {
    background-color: #e8e8e8;
    padding: 2px;
    border-radius: 10px;
}

#searchInput {
    padding: 5px 15px 5px 15px;
    border: none;
    background-color: inherit;
    color: #333;
    margin: 0px;
    border-radius: inherit;
    font-size: 14px;
}

#searchBtn {
    background-color: inherit;
    color: #333;
    border: none;
    padding-right: 10px;
    border-radius: inherit;
    cursor: pointer;
    font-size: 15px;
}

#searchInput:focus {
    outline: none;
}

.cityDiv {
    height: 30px;
    width: 400;
    border: 2px solid rgb(85, 80, 80) ;
    margin: 3px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    color: #333 ;
    cursor: pointer;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.cityDiv:hover {
    border: 2px solid #FF9966;
}

.tutorialIcon {
    width: 40px;
    height: 40px;
}

#infoButton {
    position: fixed;
    bottom: 20px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 999px;
    border: 3px solid #FF9966;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
}

.mainText {
    text-align: center;
    font-size: 30px;
    margin: 0px;
    margin-top: 30px;
    font-style: italic;
    color: #333;
}

.infoDiv {
    border: 2px solid #FF9966;
    border-radius: 10px;
    width: 400px;
    height: 80px;
    padding: 5px;
    position: relative;
    left: 100px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0.3s; 
}
.visibleDiv{
    opacity: 1;
    visibility: visible;
}

.hintText {
    margin: 0px;
    color: rgb(25, 21, 21);
}

.loadingList{
    text-align: center;
    justify-content: center;
    align-items: center;
}