*{
    background-color: rgb(27, 27, 106);
}

#firstDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 40px;
}

#weatherAppDiv{
    background-color: rgb(49, 49, 228);
    display: flex;
    width: 700px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 2px rgb(32, 31, 31); 
}

#searchDiv{
    display: flex ;
    flex-direction: column;
    width: 280px;
    height: 400px;
    background-color: rgb(44, 43, 43);
    box-shadow : 0px 0px 15px 3px rgb(32, 31, 31);
    border-radius: 15px;
}
#searchResultDiv{
    background-color: inherit;
    display: flex;
    flex-grow: 1;
    border-radius: 15px;
}
#inputDiv0{
    display: flex;
    flex-direction: row;
    background-color: inherit;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#inputDiv1{
    background-color: rgb(59, 57, 57);
    border-radius: 10px;
}
#searchInput{
    padding: 6px 20px 6px 20px;
    border: 1px solid rgb(59, 57, 57);
    background-color: rgb(59, 57, 57);
    color: white;
    margin: 0px;
    border-radius: inherit;
}
#searchBtn{
    background-color: rgb(59, 57, 57);
    color: white;
    border: 1px solid rgb(59, 57, 57);
    border-radius: inherit;
}
#searchInput:focus{
    outline: none;
}
